# Shrey Tandel : 22020845034
# Manish Biswas : 22020845010
# Sumendu : 22020845033

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/lending-club/accepted_2007_to_2018Q4.csv
/kaggle/input/lending-club/rejected_2007_to_2018Q4.csv

In [2]:
pip install --upgrade pip

Requirement already satisfied: pip in /usr/local/lib/python3.8/site-packages (23.0.1)
Collecting pip
  Downloading pip-23.2.1-py3-none-any.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 9.7 MB/s eta 0:00:00:00:010:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.0.1
    Uninstalling pip-23.0.1:
      Successfully uninstalled pip-23.0.1
Successfully installed pip-23.2.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 293.3/293.3 kB 5.4 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /usr/local/lib/python3.8/site-packages (from seaborn) (1.23.5)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.8/site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /usr/local/lib/python3.8/site-packages (from seaborn) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.40.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in /usr/local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (6.0.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.8/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.8/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.1->seaborn) (3.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [90]:
pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.14.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.2/10.2 MB 47.1 MB/s eta 0:00:0000:010:01
Requirement already satisfied: numpy>=1.18 in /usr/local/lib/python3.8/site-packages (from statsmodels) (1.23.5)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in /usr/local/lib/python3.8/site-packages (from statsmodels) (1.10.1)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.8/site-packages (from statsmodels) (2.0.3)
Collecting patsy>=0.5.2 (from statsmodels)
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.8/233.8 kB 20.9 MB/s eta 0:00:00
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.8/site-packages (from statsmodels) (23.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.8/site-packages (from pandas>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/site-packages (from pandas>=1.0->statsmodels) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.8/site-packages (from pandas>=1.0->statsmodels) (2023.3)
Requirement already satisfied: six in /usr/local/lib/python3.8/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.3 statsmodels-0.14.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd                # For data manipulation and analysis
import numpy as np                 # For numerical operations
import matplotlib.pyplot as plt   # For data visualization
import seaborn as sns             # For enhanced data visualization
from sklearn.model_selection import train_test_split  # For splitting the data into training and testing sets
from sklearn.preprocessing import StandardScaler     # For feature scaling (if needed)
from sklearn.model_selection import KFold              # For K-fold cross-validation
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix  # For model evaluation
from sklearn.linear_model import LogisticRegression   # For logistic regression model
from sklearn.tree import DecisionTreeClassifier       # For decision tree classifier
from sklearn.ensemble import RandomForestClassifier   # For random forest classifier (and other ensemble methods)
# Import other machine learning models you want to try (e.g., SVM, Gradient Boosting, etc.)

# You may also need to import libraries for your linear regression model if applicable:
from sklearn.linear_model import LinearRegression   # For linear regression

In [5]:
import pandas as pd

# Specify the file path to your dataset
file_path = "/kaggle/input/lending-club/accepted_2007_to_2018Q4.csv"

# Read the dataset into a Pandas DataFrame
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame to check if it's loaded correctly
print(df.head())

/tmp/ipykernel_15/3869061036.py:7: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

         id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  68407277        NaN     3600.0       3600.0           3600.0   36 months
1  68355089        NaN    24700.0      24700.0          24700.0   36 months
2  68341763        NaN    20000.0      20000.0          20000.0   60 months
3  66310712        NaN    35000.0      35000.0          35000.0   60 months
4  68476807        NaN    10400.0      10400.0          10400.0   60 months

   int_rate  installment grade sub_grade  ... hardship_payoff_balance_amount  \
0     13.99       123.03     C        C4  ...                            NaN
1     11.99       820.28     C        C1  ...                            NaN
2     10.78       432.66     B        B4  ...                            NaN
3     14.85       829.90     C        C5  ...                            NaN
4     22.45       289.91     F        F1  ...                            NaN

  hardship_last_payment_amount disbursement_method  debt_settlement_flag  \
0                          NaN                Cash                     N
1                          NaN                Cash                     N
2                          NaN                Cash                     N
3                          NaN                Cash                     N
4                          NaN                Cash                     N

  debt_settlement_flag_date settlement_status settlement_date  \
0                       NaN               NaN             NaN
1                       NaN               NaN             NaN
2                       NaN               NaN             NaN
3                       NaN               NaN             NaN
4                       NaN               NaN             NaN

  settlement_amount settlement_percentage settlement_term
0               NaN                   NaN             NaN
1               NaN                   NaN             NaN
2               NaN                   NaN             NaN
3               NaN                   NaN             NaN
4               NaN                   NaN             NaN

[5 rows x 151 columns]

In [6]:
print(df.dtypes)

id                        object
member_id                float64
loan_amnt                float64
funded_amnt              float64
funded_amnt_inv          float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 151, dtype: object

In [7]:
len(df.columns)

151

In [8]:
columns_to_drop = ['member_id','desc','mths_since_last_record','verification_status_joint',
                   'open_acc_6m','all_util','inq_last_12m','revol_bal_joint',
                   'sec_app_fico_range_low','sec_app_fico_range_high','sec_app_earliest_cr_line',
                   'sec_app_inq_last_6mths','sec_app_mort_acc','sec_app_open_acc','sec_app_revol_util',
                   'sec_app_open_act_il','sec_app_num_rev_accts','sec_app_chargeoff_within_12_mths',
                   'sec_app_collections_12_mths_ex_med','sec_app_mths_since_last_major_derog',
                   'hardship_type','hardship_status','deferral_term','hardship_amount',
                   'hardship_start_date','hardship_end_date','payment_plan_start_date',
                   'hardship_length','hardship_dpd','hardship_loan_status','orig_projected_additional_accrued_interest',
                   'hardship_payoff_balance_amount','hardship_last_payment_amount',
                   'debt_settlement_flag_date','settlement_status','settlement_date',
                   'settlement_amount','settlement_percentage','settlement_term','open_act_il','dti_joint','annual_inc_joint']

columns_to_drop_maybe = ['title','mths_since_rcnt_il']

In [9]:
# List of columns to drop
columns_to_drop = [
    'member_id', 'desc', 'mths_since_last_record', 'verification_status_joint',
    'open_acc_6m', 'all_util', 'inq_last_12m', 'revol_bal_joint',
    'sec_app_fico_range_low', 'sec_app_fico_range_high', 'sec_app_earliest_cr_line',
    'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util',
    'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths',
    'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog',
    'hardship_type', 'hardship_status', 'deferral_term', 'hardship_amount',
    'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date',
    'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest',
    'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
    'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
    'settlement_amount', 'settlement_percentage', 'settlement_term',
    'open_act_il', 'dti_joint', 'annual_inc_joint'
]

# Drop the specified columns from the DataFrame
df = df.drop(columns=columns_to_drop)

In [10]:
len(df.columns)

109

In [11]:
# Separate categorical and numerical columns
categorical_columns = df.select_dtypes(include=['object']).columns
numerical_columns = df.select_dtypes(exclude=['object']).columns

# Create the categorical DataFrame
categorical_df = df[categorical_columns]

# Create the numerical DataFrame
numerical_df = df[numerical_columns]

In [12]:
len(categorical_df.columns)

26

In [13]:
len(numerical_df.columns)

83

In [14]:
list(categorical_df)

['id',
 'term',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'earliest_cr_line',
 'initial_list_status',
 'last_pymnt_d',
 'next_pymnt_d',
 'last_credit_pull_d',
 'application_type',
 'hardship_flag',
 'hardship_reason',
 'disbursement_method',
 'debt_settlement_flag']

In [15]:
list(numerical_df)

['loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'int_rate',
 'installment',
 'annual_inc',
 'dti',
 'delinq_2yrs',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']

In [16]:
from sklearn.impute import SimpleImputer

# Create a SimpleImputer with strategy='median'
imputer = SimpleImputer(strategy='median')

# Fit the imputer to your numerical data
imputer.fit(numerical_df)

# Transform the numerical data by replacing missing values with medians
numerical_df_imputed = imputer.transform(numerical_df)

# Convert the result back to a DataFrame
numerical_df_imputed = pd.DataFrame(numerical_df_imputed, columns=numerical_df.columns)

In [17]:
len(numerical_df_imputed.columns)

83

In [18]:
len(categorical_df.columns)

26

In [19]:
# Create a list to store DataFrames for each column
unique_categories_list = []

# Loop through each column in the categorical DataFrame
for column in categorical_df.columns:
    unique_categories = categorical_df[column].unique()  # Get unique categories for the current column
    unique_categories_df = pd.DataFrame({'Column Name': [column], 'Unique Categories': [unique_categories]})
    unique_categories_list.append(unique_categories_df)

# Concatenate the list of DataFrames into one DataFrame
unique_categories_df = pd.concat(unique_categories_list, ignore_index=True)

# Display the table
print(unique_categories_df, )

             Column Name                                  Unique Categories
0                     id  [68407277, 68355089, 68341763, 66310712, 68476...
1                   term                      [ 36 months,  60 months, nan]
2                  grade                         [C, B, F, A, E, D, G, nan]
3              sub_grade  [C4, C1, B4, C5, F1, C3, B2, B1, A2, B5, C2, E...
4              emp_title  [leadman, Engineer, truck driver, Information ...
5             emp_length  [10+ years, 3 years, 4 years, 6 years, 1 year,...
6         home_ownership       [MORTGAGE, RENT, OWN, ANY, nan, NONE, OTHER]
7    verification_status     [Not Verified, Source Verified, Verified, nan]
8                issue_d  [Dec-2015, Nov-2015, Oct-2015, Sep-2015, Aug-2...
9            loan_status  [Fully Paid, Current, Charged Off, In Grace Pe...
10            pymnt_plan                                        [n, y, nan]
11                   url  [https://lendingclub.com/browse/loanDetail.act...
12               purpose  [debt_consolidation, small_business, home_impr...
13                 title  [Debt consolidation, Business, nan, Major purc...
14              zip_code  [190xx, 577xx, 605xx, 076xx, 174xx, 300xx, 550...
15            addr_state  [PA, SD, IL, NJ, GA, MN, SC, RI, TX, NC, CA, V...
16      earliest_cr_line  [Aug-2003, Dec-1999, Aug-2000, Sep-2008, Jun-1...
17   initial_list_status                                        [w, f, nan]
18          last_pymnt_d  [Jan-2019, Jun-2016, Jun-2017, Feb-2019, Jul-2...
19          next_pymnt_d  [nan, Apr-2019, Mar-2019, Dec-2018, Sep-2018, ...
20    last_credit_pull_d  [Mar-2019, Mar-2018, May-2017, Nov-2018, Sep-2...
21      application_type                       [Individual, Joint App, nan]
22         hardship_flag                                        [N, Y, nan]
23       hardship_reason  [nan, NATURAL_DISASTER, DIVORCE, EXCESSIVE_OBL...
24   disbursement_method                             [Cash, nan, DirectPay]
25  debt_settlement_flag                                        [N, Y, nan]

In [20]:
# List of columns to drop
columns_to_drop = ['url', 'id']

# Drop the specified columns from the categorical DataFrame
categorical_df = categorical_df.drop(columns=columns_to_drop)

In [21]:
len(categorical_df.columns)

24

In [22]:
# Create a list to store DataFrames for each column
unique_categories_list = []

# Loop through each column in the categorical DataFrame
for column in categorical_df.columns:
    unique_categories = categorical_df[column].unique()  # Get unique categories for the current column
    unique_categories_df = pd.DataFrame({'Column Name': [column], 'Unique Categories': [unique_categories]})
    unique_categories_list.append(unique_categories_df)

# Concatenate the list of DataFrames into one DataFrame
unique_categories_df = pd.concat(unique_categories_list, ignore_index=True)

# Display the table
print(unique_categories_df)

             Column Name                                  Unique Categories
0                   term                      [ 36 months,  60 months, nan]
1                  grade                         [C, B, F, A, E, D, G, nan]
2              sub_grade  [C4, C1, B4, C5, F1, C3, B2, B1, A2, B5, C2, E...
3              emp_title  [leadman, Engineer, truck driver, Information ...
4             emp_length  [10+ years, 3 years, 4 years, 6 years, 1 year,...
5         home_ownership       [MORTGAGE, RENT, OWN, ANY, nan, NONE, OTHER]
6    verification_status     [Not Verified, Source Verified, Verified, nan]
7                issue_d  [Dec-2015, Nov-2015, Oct-2015, Sep-2015, Aug-2...
8            loan_status  [Fully Paid, Current, Charged Off, In Grace Pe...
9             pymnt_plan                                        [n, y, nan]
10               purpose  [debt_consolidation, small_business, home_impr...
11                 title  [Debt consolidation, Business, nan, Major purc...
12              zip_code  [190xx, 577xx, 605xx, 076xx, 174xx, 300xx, 550...
13            addr_state  [PA, SD, IL, NJ, GA, MN, SC, RI, TX, NC, CA, V...
14      earliest_cr_line  [Aug-2003, Dec-1999, Aug-2000, Sep-2008, Jun-1...
15   initial_list_status                                        [w, f, nan]
16          last_pymnt_d  [Jan-2019, Jun-2016, Jun-2017, Feb-2019, Jul-2...
17          next_pymnt_d  [nan, Apr-2019, Mar-2019, Dec-2018, Sep-2018, ...
18    last_credit_pull_d  [Mar-2019, Mar-2018, May-2017, Nov-2018, Sep-2...
19      application_type                       [Individual, Joint App, nan]
20         hardship_flag                                        [N, Y, nan]
21       hardship_reason  [nan, NATURAL_DISASTER, DIVORCE, EXCESSIVE_OBL...
22   disbursement_method                             [Cash, nan, DirectPay]
23  debt_settlement_flag                                        [N, Y, nan]

In [23]:
nominal_df = categorical_df[['hardship_reason', 'disbursement_method']]

In [24]:
ordinal_df = df[['pymnt_plan','hardship_flag','debt_settlement_flag','term','grade','sub_grade','emp_length','home_ownership','verification_status','loan_status']]

In [25]:
ordinal_df.head()

,pymnt_plan,hardship_flag,debt_settlement_flag,term,grade,sub_grade,emp_length,home_ownership,verification_status,loan_status
0,n,N,N,36 months,C,C4,10+ years,MORTGAGE,Not Verified,Fully Paid
1,n,N,N,36 months,C,C1,10+ years,MORTGAGE,Not Verified,Fully Paid
2,n,N,N,60 months,B,B4,10+ years,MORTGAGE,Not Verified,Fully Paid
3,n,N,N,60 months,C,C5,10+ years,MORTGAGE,Source Verified,Current
4,n,N,N,60 months,F,F1,3 years,MORTGAGE,Source Verified,Fully Paid

In [26]:
# Create a dictionary to store unique categories for each column
unique_categories_dict = {}

# Loop through each column in the nominal DataFrame
for column in nominal_df.columns:
    unique_categories = nominal_df[column].unique()  # Get unique categories for the current column
    unique_categories_dict[column] = unique_categories.tolist()

# Display the unique categories for each column
for column, unique_values in unique_categories_dict.items():
    print(f"Column '{column}' Unique Categories:")
    for value in unique_values:
        print(value)
    print()

Column 'hardship_reason' Unique Categories:
nan
NATURAL_DISASTER
DIVORCE
EXCESSIVE_OBLIGATIONS
DISABILITY
UNEMPLOYMENT
INCOME_CURTAILMENT
REDUCED_HOURS
MEDICAL
FAMILY_DEATH

Column 'disbursement_method' Unique Categories:
Cash
nan
DirectPay

In [27]:
import pandas as pd

# Define your ordinal mappings
ordinal_mappings = {
    "pymnt_plan": {'n': 1, 'Charged Off': 2, 'y': 0},
    "hardship_flag": {'Y': 1, 'N': 0, '0.0': 0},
    "debt_settlement_flag": {'Y': 1, 'N': 2, 'Cash': 0},
    "term": {' 36 months': 0, ' 60 months': 1},
    "grade": {'F': 5, 'E': 4, 'B': 1, 'D': 3, 'C': 2, 'A': 0, 'G': 6},
    "sub_grade": {'A1': 0, 'A2': 1, 'A3': 2, 'A4': 3, 'A5': 4, 'B1': 5, 'B2': 6, 'B3': 7, 'B4': 8, 'B5': 9, 'C1': 10, 'C2': 11, 'C3': 12, 'C4': 13, 'C5': 14, 'D1': 15, 'D2': 16, 'D3': 17, 'D4': 18, 'D5': 19, 'E1': 20, 'E2': 21, 'E3': 22, 'E4': 23, 'E5': 24, 'F1': 25, 'F2': 26, 'F3': 27, 'F4': 28, 'F5': 29, 'G1': 30, 'G2': 31, 'G3': 32, 'G4': 33, 'G5': 34},
    "emp_length": {'10+ years': 0, '9 years': 1, '8 years': 2, '7 years': 3, '6 years': 4, '5 years': 5, '4 years': 6, '3 years': 7, '2 years': 8, '1 year': 9, '< 1 year': 10, ' reactors"': 0},
    "home_ownership": {'OWN': 1, 'RENT': 3, '2 years': 0, 'MORTGAGE': 2, 'ANY': 3, 'OTHER': 3},
    "verification_status": {'38000.0': 0, 'Verified': 0, 'Source Verified': 1, 'Not Verified': 2},
    "loan_status": {'Fully Paid': 0 ,'Default': 3,'In Grace Period': 2,'Charged Off': 3,'Oct-2015': None,'Late (31-120 days)': 2,'Current': 1 ,'Late (16-30 days)': 2,'Does not meet the credit policy. Status:Fully Paid': 0,'Does not meet the credit policy. Status:Charged Off': 3}
}

# Encode all variables in the DataFrame 'ordinal_df' using 'ordinal_mappings'
ordinal_df = ordinal_df.apply(lambda x: x.map(ordinal_mappings.get(x.name, x)))

# Show the encoded DataFrame
print(ordinal_df)

         pymnt_plan  hardship_flag  debt_settlement_flag  term  grade  \
0               1.0            0.0                   2.0   0.0    2.0
1               1.0            0.0                   2.0   0.0    2.0
2               1.0            0.0                   2.0   1.0    1.0
3               1.0            0.0                   2.0   1.0    2.0
4               1.0            0.0                   2.0   1.0    5.0
...             ...            ...                   ...   ...    ...
2260696         1.0            0.0                   2.0   1.0    1.0
2260697         1.0            0.0                   1.0   1.0    2.0
2260698         1.0            0.0                   2.0   1.0    2.0
2260699         NaN            NaN                   NaN   NaN    NaN
2260700         NaN            NaN                   NaN   NaN    NaN

         sub_grade  emp_length  home_ownership  verification_status  \
0             13.0         0.0             2.0                  2.0
1             10.0         0.0             2.0                  2.0
2              8.0         0.0             2.0                  2.0
3             14.0         0.0             2.0                  1.0
4             25.0         7.0             2.0                  1.0
...            ...         ...             ...                  ...
2260696        7.0         1.0             2.0                  0.0
2260697       13.0         4.0             3.0                  2.0
2260698       13.0         0.0             2.0                  0.0
2260699        NaN         NaN             NaN                  NaN
2260700        NaN         NaN             NaN                  NaN

         loan_status
0                0.0
1                0.0
2                0.0
3                1.0
4                0.0
...              ...
2260696          1.0
2260697          3.0
2260698          1.0
2260699          NaN
2260700          NaN

[2260701 rows x 10 columns]

In [28]:
ordinal_df.dtypes

pymnt_plan              float64
hardship_flag           float64
debt_settlement_flag    float64
term                    float64
grade                   float64
sub_grade               float64
emp_length              float64
home_ownership          float64
verification_status     float64
loan_status             float64
dtype: object

In [29]:
list(ordinal_df.columns)

['pymnt_plan',
 'hardship_flag',
 'debt_settlement_flag',
 'term',
 'grade',
 'sub_grade',
 'emp_length',
 'home_ownership',
 'verification_status',
 'loan_status']

In [30]:
# Impute missing values in all columns of 'ordinal_df' using 'mode' (most frequent) method
ordinal_df = ordinal_df.fillna(ordinal_df.mode().iloc[0])

# Show the DataFrame after imputation
ordinal_df.head()

,pymnt_plan,hardship_flag,debt_settlement_flag,term,grade,sub_grade,emp_length,home_ownership,verification_status,loan_status
0,1.0,0.0,2.0,0.0,2.0,13.0,0.0,2.0,2.0,0.0
1,1.0,0.0,2.0,0.0,2.0,10.0,0.0,2.0,2.0,0.0
2,1.0,0.0,2.0,1.0,1.0,8.0,0.0,2.0,2.0,0.0
3,1.0,0.0,2.0,1.0,2.0,14.0,0.0,2.0,1.0,1.0
4,1.0,0.0,2.0,1.0,5.0,25.0,7.0,2.0,1.0,0.0

In [31]:
# Check for missing values in each column of 'ordinal_df' and create a table
missing_status = ordinal_df.isnull().any()
missing_status = missing_status.apply(lambda x: 'yes' if x else 'no')

# Create a DataFrame to display the missing status
missing_status_df = pd.DataFrame({'Column Name': missing_status.index, 'Missing Values': missing_status.values})

# Display the table
print(missing_status_df)

            Column Name Missing Values
0            pymnt_plan             no
1         hardship_flag             no
2  debt_settlement_flag             no
3                  term             no
4                 grade             no
5             sub_grade             no
6            emp_length             no
7        home_ownership             no
8   verification_status             no
9           loan_status             no

In [32]:
# Impute missing values in all columns of 'ordinal_df' using 'mode' (most frequent) method
nominal_df = nominal_df.fillna(nominal_df.mode().iloc[0])

# Show the DataFrame after imputation
nominal_df.head()

    hardship_reason disbursement_method
0  NATURAL_DISASTER                Cash
1  NATURAL_DISASTER                Cash
2  NATURAL_DISASTER                Cash
3  NATURAL_DISASTER                Cash
4  NATURAL_DISASTER                Cash

In [33]:
import pandas as pd

# Assuming you have the DataFrame 'nominal_df' with categorical columns

# Get dummy variables for categorical columns in 'nominal_df'
nominal_df = pd.get_dummies(nominal_df, columns= nominal_df.columns)  

# Display the DataFrame with dummy variables
print(nominal_df)

         hardship_reason_DISABILITY  hardship_reason_DIVORCE  \
0                             False                    False
1                             False                    False
2                             False                    False
3                             False                    False
4                             False                    False
...                             ...                      ...
2260696                       False                    False
2260697                       False                    False
2260698                       False                    False
2260699                       False                    False
2260700                       False                    False

         hardship_reason_EXCESSIVE_OBLIGATIONS  hardship_reason_FAMILY_DEATH  \
0                                        False                         False
1                                        False                         False
2                                        False                         False
3                                        False                         False
4                                        False                         False
...                                        ...                           ...
2260696                                  False                         False
2260697                                  False                         False
2260698                                  False                         False
2260699                                  False                         False
2260700                                  False                         False

         hardship_reason_INCOME_CURTAILMENT  hardship_reason_MEDICAL  \
0                                     False                    False
1                                     False                    False
2                                     False                    False
3                                     False                    False
4                                     False                    False
...                                     ...                      ...
2260696                               False                    False
2260697                               False                    False
2260698                               False                    False
2260699                               False                    False
2260700                               False                    False

         hardship_reason_NATURAL_DISASTER  hardship_reason_REDUCED_HOURS  \
0                                    True                          False
1                                    True                          False
2                                    True                          False
3                                    True                          False
4                                    True                          False
...                                   ...                            ...
2260696                              True                          False
2260697                              True                          False
2260698                              True                          False
2260699                              True                          False
2260700                              True                          False

         hardship_reason_UNEMPLOYMENT  disbursement_method_Cash  \
0                               False                      True
1                               False                      True
2                               False                      True
3                               False                      True
4                               False                      True
...                               ...                       ...
2260696                         False                      True
2260697                         False                      True
2260698                         False                      True
2260699                         False                      True
2260700                         False                      True

         disbursement_method_DirectPay
0                                False
1                                False
2                                False
3                                False
4                                False
...                                ...
2260696                          False
2260697                          False
2260698                          False
2260699                          False
2260700                          False

[2260701 rows x 11 columns]

In [34]:
nominal_df.head()

,hardship_reason_DISABILITY,hardship_reason_DIVORCE,hardship_reason_EXCESSIVE_OBLIGATIONS,hardship_reason_FAMILY_DEATH,hardship_reason_INCOME_CURTAILMENT,hardship_reason_MEDICAL,hardship_reason_NATURAL_DISASTER,hardship_reason_REDUCED_HOURS,hardship_reason_UNEMPLOYMENT,disbursement_method_Cash,disbursement_method_DirectPay
0,False,False,False,False,False,False,True,False,False,True,False
1,False,False,False,False,False,False,True,False,False,True,False
2,False,False,False,False,False,False,True,False,False,True,False
3,False,False,False,False,False,False,True,False,False,True,False
4,False,False,False,False,False,False,True,False,False,True,False

In [35]:
nominal_df.dtypes

hardship_reason_DISABILITY               bool
hardship_reason_DIVORCE                  bool
hardship_reason_EXCESSIVE_OBLIGATIONS    bool
hardship_reason_FAMILY_DEATH             bool
hardship_reason_INCOME_CURTAILMENT       bool
hardship_reason_MEDICAL                  bool
hardship_reason_NATURAL_DISASTER         bool
hardship_reason_REDUCED_HOURS            bool
hardship_reason_UNEMPLOYMENT             bool
disbursement_method_Cash                 bool
disbursement_method_DirectPay            bool
dtype: object

In [36]:
# Replace False with 0 and True with 1 in 'nominal_df'
nominal_df = nominal_df.replace({False: 0, True: 1})

# Display the updated DataFrame
nominal_df.head()

,hardship_reason_DISABILITY,hardship_reason_DIVORCE,hardship_reason_EXCESSIVE_OBLIGATIONS,hardship_reason_FAMILY_DEATH,hardship_reason_INCOME_CURTAILMENT,hardship_reason_MEDICAL,hardship_reason_NATURAL_DISASTER,hardship_reason_REDUCED_HOURS,hardship_reason_UNEMPLOYMENT,disbursement_method_Cash,disbursement_method_DirectPay
0,0,0,0,0,0,0,1,0,0,1,0
1,0,0,0,0,0,0,1,0,0,1,0
2,0,0,0,0,0,0,1,0,0,1,0
3,0,0,0,0,0,0,1,0,0,1,0
4,0,0,0,0,0,0,1,0,0,1,0

In [37]:
# Check for missing values in each column of 'ordinal_df' and create a table
missing_status = numerical_df_imputed.isnull().any()
missing_status = missing_status.apply(lambda x: 'yes' if x else 'no')

# Create a DataFrame to display the missing status
missing_status_df = pd.DataFrame({'Column Name': missing_status.index, 'Missing Values': missing_status.values})

# Display the table
print(missing_status_df)

                   Column Name Missing Values
0                    loan_amnt             no
1                  funded_amnt             no
2              funded_amnt_inv             no
3                     int_rate             no
4                  installment             no
..                         ...            ...
78                   tax_liens             no
79             tot_hi_cred_lim             no
80           total_bal_ex_mort             no
81              total_bc_limit             no
82  total_il_high_credit_limit             no

[83 rows x 2 columns]

In [38]:
numerical_df_imputed

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,3600.0,3600.0,3600.0,13.99,123.03,55000.0,5.91,0.0,675.0,679.0,...,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0
1,24700.0,24700.0,24700.0,11.99,820.28,65000.0,16.06,1.0,715.0,719.0,...,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0
2,20000.0,20000.0,20000.0,10.78,432.66,63000.0,10.78,0.0,695.0,699.0,...,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0
3,35000.0,35000.0,35000.0,14.85,829.90,110000.0,17.06,0.0,785.0,789.0,...,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0
4,10400.0,10400.0,10400.0,22.45,289.91,104433.0,25.37,1.0,695.0,699.0,...,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260696,40000.0,40000.0,40000.0,10.49,859.56,227000.0,12.75,7.0,705.0,709.0,...,7.0,0.0,75.7,50.0,0.0,0.0,55970.0,28398.0,12300.0,42670.0
2260697,24000.0,24000.0,24000.0,14.49,564.56,110000.0,18.30,0.0,660.0,664.0,...,0.0,1.0,96.2,40.0,1.0,0.0,84664.0,62426.0,20700.0,58764.0
2260698,14000.0,14000.0,14000.0,14.49,329.33,95000.0,23.36,0.0,660.0,664.0,...,0.0,1.0,81.8,50.0,0.0,0.0,163804.0,44215.0,9500.0,34169.0
2260699,12900.0,12875.0,12800.0,12.62,377.99,65000.0,17.84,0.0,690.0,694.0,...,0.0,2.0,100.0,37.5,0.0,0.0,114298.5,37864.0,16300.0,32696.0
2260700,12900.0,12875.0,12800.0,12.62,377.99,65000.0,17.84,0.0,690.0,694.0,...,0.0,2.0,100.0,37.5,0.0,0.0,114298.5,37864.0,16300.0,32696.0

In [39]:
# Check for missing values in each column of 'ordinal_df' and create a table
missing_status = numerical_df_imputed.isnull().any()
missing_status = missing_status.apply(lambda x: 'yes' if x else 'no')

# Create a DataFrame to display the missing status
missing_status_df = pd.DataFrame({'Column Name': missing_status.index, 'Missing Values': missing_status.values})

# Display the table
missing_status_df.head

<bound method NDFrame.head of                    Column Name Missing Values
0                    loan_amnt             no
1                  funded_amnt             no
2              funded_amnt_inv             no
3                     int_rate             no
4                  installment             no
..                         ...            ...
78                   tax_liens             no
79             tot_hi_cred_lim             no
80           total_bal_ex_mort             no
81              total_bc_limit             no
82  total_il_high_credit_limit             no

[83 rows x 2 columns]>

In [40]:
numerical_df = numerical_df_imputed.copy()

In [41]:
numerical_df.dtypes

loan_amnt                     float64
funded_amnt                   float64
funded_amnt_inv               float64
int_rate                      float64
installment                   float64
                               ...
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
Length: 83, dtype: object

In [42]:
cidf = pd.concat([ordinal_df, nominal_df, numerical_df], axis=1)

In [43]:
cidf.head()

,pymnt_plan,hardship_flag,debt_settlement_flag,term,grade,sub_grade,emp_length,home_ownership,verification_status,loan_status,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1.0,0.0,2.0,0.0,2.0,13.0,0.0,2.0,2.0,0.0,...,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0
1,1.0,0.0,2.0,0.0,2.0,10.0,0.0,2.0,2.0,0.0,...,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0
2,1.0,0.0,2.0,1.0,1.0,8.0,0.0,2.0,2.0,0.0,...,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0
3,1.0,0.0,2.0,1.0,2.0,14.0,0.0,2.0,1.0,1.0,...,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0
4,1.0,0.0,2.0,1.0,5.0,25.0,7.0,2.0,1.0,0.0,...,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0

In [44]:
cidf.shape

(2260701, 104)

In [45]:
numerical_df.shape

(2260701, 83)

In [46]:
ordinal_df.shape

(2260701, 10)

In [47]:
nominal_df.shape

(2260701, 11)

In [48]:
# Assuming 'target' is the name of your target variable and 'df' is your DataFrame
target_variable = 'loan_status'

# Calculate the correlation of the target variable with all independent variables
correlations = cidf.corr()[target_variable]

# Display the correlation values
print(correlations)

pymnt_plan                   -0.021061
hardship_flag                 0.024399
debt_settlement_flag         -0.283942
term                          0.154337
grade                         0.190942
                                ...
tax_liens                     0.004777
tot_hi_cred_lim              -0.047917
total_bal_ex_mort             0.006365
total_bc_limit               -0.032645
total_il_high_credit_limit    0.010792
Name: loan_status, Length: 104, dtype: float64

In [49]:
# Check for null values in each column
null_columns = cidf.columns[cidf.isnull().any()]

# Get the names of columns with null values
columns_with_null = cidf[null_columns]

print("Columns with null values:")
print(columns_with_null)

Columns with null values:
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[2260701 rows x 0 columns]

In [50]:
X = cidf.drop(['loan_status'], axis=1)
y = cidf['loan_status'] # Only survived goes to y


X_train, X_test, y_train, y_test = train_test_split(
    X,y , # target
    test_size=0.3,  # percentage of obs in test set
    random_state=0,
)  # seed to ensure reproducibility

X_train.shape, X_test.shape

((1582490, 103), (678211, 103))

In [51]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)

In [52]:
logistic_model = LogisticRegression(max_iter=1000)

In [53]:
from sklearn.ensemble import RandomForestClassifier

# Create a Random Forest Classifier model
random_forest_model = RandomForestClassifier(n_estimators=100, random_state=0)

# Fit the model to the training data
random_forest_model.fit(X_train, y_train)

# Predict using the trained model on the test data
y_pred = random_forest_model.predict(X_test)

# You can now evaluate the performance of the model using classification metrics.

In [54]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Generate a classification report
class_report = classification_report(y_test, y_pred)
print("Classification Report:\n", class_report)

# Generate a confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", conf_matrix)

Accuracy: 0.9837793842919091
Classification Report:
               precision    recall  f1-score   support

         0.0       0.99      1.00      1.00    323297
         1.0       0.97      0.99      0.98    263719
         2.0       0.76      0.18      0.29     10135
         3.0       1.00      0.99      1.00     81060

    accuracy                           0.98    678211
   macro avg       0.93      0.79      0.82    678211
weighted avg       0.98      0.98      0.98    678211

Confusion Matrix:
 [[323287      0      0     10]
 [  1321 261823    575      0]
 [    55   8255   1825      0]
 [   774      8      3  80275]]

In [55]:
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Assuming you have your X_train and y_train from your previous code

# Create a Decision Tree Classifier
decision_tree_model = DecisionTreeClassifier()

# Define the number of splits for K-Fold Cross-Validation
k = 5  # You can adjust this value as needed

# Initialize K-Fold Cross-Validation
kf = KFold(n_splits=k, shuffle=True, random_state=0)

# Lists to store cross-validation scores
cross_val_scores = []

# Perform K-Fold Cross-Validation
for train_index, val_index in kf.split(X_train):
    X_train_fold, X_val_fold = X_train.iloc[train_index], X_train.iloc[val_index]
    y_train_fold, y_val_fold = y_train.iloc[train_index], y_train.iloc[val_index]
    
    # Fit the Decision Tree model on the training fold
    decision_tree_model.fit(X_train_fold, y_train_fold)
    
    # Make predictions on the validation fold
    y_val_pred = decision_tree_model.predict(X_val_fold)
    
    # Calculate accuracy for this fold
    fold_accuracy = accuracy_score(y_val_fold, y_val_pred)
    
    # Store the accuracy in the list of cross-validation scores
    cross_val_scores.append(fold_accuracy)

# Calculate and print the average accuracy across all folds
average_accuracy = sum(cross_val_scores) / k
print("Average Cross-Validation Accuracy:", average_accuracy)

Average Cross-Validation Accuracy: 0.9703145043570576

In [56]:
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

# Assuming you have your X_train and y_train from your previous code

# Create a Gaussian Naive Bayes Classifier
naive_bayes_model = GaussianNB()

# Define the number of splits for K-Fold Cross-Validation
k = 5  # You can adjust this value as needed

# Initialize K-Fold Cross-Validation
kf = KFold(n_splits=k, shuffle=True, random_state=0)

# Lists to store cross-validation scores
cross_val_scores = []

# Perform K-Fold Cross-Validation
for train_index, val_index in kf.split(X_train):
    X_train_fold, X_val_fold = X_train.iloc[train_index], X_train.iloc[val_index]
    y_train_fold, y_val_fold = y_train.iloc[train_index], y_train.iloc[val_index]
    
    # Fit the Naive Bayes model on the training fold
    naive_bayes_model.fit(X_train_fold, y_train_fold)
    
    # Make predictions on the validation fold
    y_val_pred = naive_bayes_model.predict(X_val_fold)
    
    # Calculate accuracy for this fold
    fold_accuracy = accuracy_score(y_val_fold, y_val_pred)
    
    # Store the accuracy in the list of cross-validation scores
    cross_val_scores.append(fold_accuracy)

# Calculate and print the average accuracy across all folds
average_accuracy = sum(cross_val_scores) / k
print("Average Cross-Validation Accuracy:", average_accuracy)

Average Cross-Validation Accuracy: 0.9288715884460566

In [57]:
# import pandas as pd
# from sklearn.model_selection import KFold
# from sklearn.svm import SVC
# from sklearn.metrics import accuracy_score

# # Assuming you have your X_train and y_train from your previous code

# # Create a Support Vector Machine Classifier
# svm_model = SVC(kernel='linear', C=1)

# # Define the number of splits for K-Fold Cross-Validation
# k = 5  # You can adjust this value as needed

# # Initialize K-Fold Cross-Validation
# kf = KFold(n_splits=k, shuffle=True, random_state=0)

# # Lists to store cross-validation scores
# cross_val_scores = []

# # Perform K-Fold Cross-Validation
# for train_index, val_index in kf.split(X_train):
#     X_train_fold, X_val_fold = X_train.iloc[train_index], X_train.iloc[val_index]
#     y_train_fold, y_val_fold = y_train.iloc[train_index], y_train.iloc[val_index]
    
#     # Fit the SVM model on the training fold
#     svm_model.fit(X_train_fold, y_train_fold)
    
#     # Make predictions on the validation fold
#     y_val_pred = svm_model.predict(X_val_fold)
    
#     # Calculate accuracy for this fold
#     fold_accuracy = accuracy_score(y_val_fold, y_val_pred)
    
#     # Store the accuracy in the list of cross-validation scores
#     cross_val_scores.append(fold_accuracy)

# # Calculate and print the average accuracy across all folds
# average_accuracy = sum(cross_val_scores) / k
# print("Average Cross-Validation Accuracy:", average_accuracy)

# Linear Regression

**Target Variable : Interest Rate**

In [105]:
cidf.head()

,pymnt_plan,hardship_flag,debt_settlement_flag,term,grade,sub_grade,emp_length,home_ownership,verification_status,loan_status,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1.0,0.0,2.0,0.0,2.0,13.0,0.0,2.0,2.0,0.0,...,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0
1,1.0,0.0,2.0,0.0,2.0,10.0,0.0,2.0,2.0,0.0,...,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0
2,1.0,0.0,2.0,1.0,1.0,8.0,0.0,2.0,2.0,0.0,...,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0
3,1.0,0.0,2.0,1.0,2.0,14.0,0.0,2.0,1.0,1.0,...,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0
4,1.0,0.0,2.0,1.0,5.0,25.0,7.0,2.0,1.0,0.0,...,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0

In [106]:
#Importing all the necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# Supress Warnings
import warnings 
warnings.filterwarnings('ignore')

In [107]:
list(cidf.columns)

['pymnt_plan',
 'hardship_flag',
 'debt_settlement_flag',
 'term',
 'grade',
 'sub_grade',
 'emp_length',
 'home_ownership',
 'verification_status',
 'loan_status',
 'hardship_reason_DISABILITY',
 'hardship_reason_DIVORCE',
 'hardship_reason_EXCESSIVE_OBLIGATIONS',
 'hardship_reason_FAMILY_DEATH',
 'hardship_reason_INCOME_CURTAILMENT',
 'hardship_reason_MEDICAL',
 'hardship_reason_NATURAL_DISASTER',
 'hardship_reason_REDUCED_HOURS',
 'hardship_reason_UNEMPLOYMENT',
 'disbursement_method_Cash',
 'disbursement_method_DirectPay',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'int_rate',
 'installment',
 'annual_inc',
 'dti',
 'delinq_2yrs',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']

In [108]:
cidft = cidf[['pymnt_plan',
 'hardship_flag',
 'debt_settlement_flag',
 'term',
 'grade',
 'sub_grade',
 'emp_length',
 'home_ownership',
 'verification_status',
 'loan_status',
 'hardship_reason_DISABILITY',
 'hardship_reason_DIVORCE',
 'hardship_reason_EXCESSIVE_OBLIGATIONS',
 'hardship_reason_FAMILY_DEATH',
 'hardship_reason_INCOME_CURTAILMENT',
 'hardship_reason_MEDICAL',
 'hardship_reason_NATURAL_DISASTER',
 'hardship_reason_REDUCED_HOURS',
 'hardship_reason_UNEMPLOYMENT',
 'disbursement_method_Cash',
 'disbursement_method_DirectPay',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'installment',
 'annual_inc',
 'dti',
 'delinq_2yrs',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']]

In [109]:
len(cidf.columns)

104

In [110]:
len(cidft.columns)

103

In [111]:
a = cidf.drop(["int_rate"], axis=1)  #moving all the x vars except Cabin into X 
b = cidf['int_rate'] # Only survived goes to y


a_train, a_test, b_train, b_test = train_test_split(
    a,b , # target
    test_size=0.3,  # percentage of obs in test set
    random_state=0,
)  # seed to ensure reproducibility

a_train.shape, a_test.shape

((1582490, 103), (678211, 103))

In [112]:
import statsmodels.api as sm

In [113]:
# Add a constant to get an intercept
a_train_sm = sm.add_constant(a_train)
# Fit the resgression line using 'OLS'
lr = sm.OLS(b_train, a_train_sm).fit()

In [114]:
lr.params

pymnt_plan                   -5.014641e-03
hardship_flag                 1.207027e-01
debt_settlement_flag         -6.627415e-03
term                          8.843923e-01
grade                         1.333838e-01
                                  ...
tax_liens                     7.861813e-02
tot_hi_cred_lim              -5.050100e-07
total_bal_ex_mort            -5.768202e-07
total_bc_limit                2.642684e-06
total_il_high_credit_limit   -2.402855e-07
Length: 103, dtype: float64

In [115]:
print(lr.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               int_rate   R-squared:                       0.963
Model:                            OLS   Adj. R-squared:                  0.963
Method:                 Least Squares   F-statistic:                 4.099e+05
Date:                Fri, 15 Sep 2023   Prob (F-statistic):               0.00
Time:                        06:54:46   Log-Likelihood:            -2.1329e+06
No. Observations:             1582490   AIC:                         4.266e+06
Df Residuals:                 1582389   BIC:                         4.267e+06
Df Model:                         100
Covariance Type:            nonrobust
=========================================================================================================
                                            coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
pymnt_plan                               -0.0050      0.088     -0.057      0.954      -0.177       0.167
hardship_flag                             0.1207      0.077      1.571      0.116      -0.030       0.271
debt_settlement_flag                     -0.0066      0.007     -0.974      0.330      -0.020       0.007
term                                      0.8844      0.004    214.797      0.000       0.876       0.892
grade                                     0.1334      0.003     50.966      0.000       0.128       0.139
sub_grade                                 0.7111      0.001   1277.551      0.000       0.710       0.712
emp_length                               -0.0003      0.000     -1.408      0.159      -0.001       0.000
home_ownership                            0.0052      0.001      4.200      0.000       0.003       0.008
verification_status                      -0.0307      0.001    -29.911      0.000      -0.033      -0.029
loan_status                              -0.0838      0.001    -59.658      0.000      -0.087      -0.081
hardship_reason_DISABILITY                0.3626      0.082      4.448      0.000       0.203       0.522
hardship_reason_DIVORCE                   0.2210      0.068      3.250      0.001       0.088       0.354
hardship_reason_EXCESSIVE_OBLIGATIONS     0.2980      0.031      9.548      0.000       0.237       0.359
hardship_reason_FAMILY_DEATH              0.4153      0.075      5.560      0.000       0.269       0.562
hardship_reason_INCOME_CURTAILMENT        0.3373      0.036      9.452      0.000       0.267       0.407
hardship_reason_MEDICAL                   0.2558      0.036      7.142      0.000       0.186       0.326
hardship_reason_NATURAL_DISASTER          0.4139      0.023     17.922      0.000       0.369       0.459
hardship_reason_REDUCED_HOURS             0.3184      0.045      7.092      0.000       0.230       0.406
hardship_reason_UNEMPLOYMENT              0.3214      0.032      9.998      0.000       0.258       0.384
disbursement_method_Cash                  1.4595      0.072     20.248      0.000       1.318       1.601
disbursement_method_DirectPay             1.4843      0.072     20.586      0.000       1.343       1.626
loan_amnt                                -0.0002   3.74e-06    -42.048      0.000      -0.000      -0.000
funded_amnt                              -0.0002    6.9e-06    -33.214      0.000      -0.000      -0.000
funded_amnt_inv                           0.0002   5.74e-06     36.646      0.000       0.000       0.000
installment                               0.0058   1.81e-05    322.742      0.000       0.006       0.006
annual_inc                             2.226e-08   9.02e-09      2.469      0.014    4.59e-09    3.99e-08
dti                                      -0.0002    5.7e-05     -4.207      0.000      -0.000      -0.000
delinq_2yrs                              -0.0265      0.002    -17.513      0.000      -0.029      -0.024
fico_range_low                            0.1823      0.053      3.418      0.001       0.078       0.287
fico_range_high                          -0.1801      0.053     -3.377      0.001      -0.285      -0.076
inq_last_6mths                           -0.0042      0.001     -4.105      0.000      -0.006      -0.002
mths_since_last_delinq                    0.0002   7.42e-05      2.614      0.009    4.85e-05       0.000
open_acc                                  0.0064      0.001      5.900      0.000       0.004       0.009
pub_rec                                  -0.1252      0.004    -31.400      0.000      -0.133      -0.117
revol_bal                              3.126e-07   1.04e-07      3.007      0.003    1.09e-07    5.16e-07
revol_util                               -0.0014   6.57e-05    -20.878      0.000      -0.002      -0.001
total_acc                                 0.0018      0.000      4.492      0.000       0.001       0.003
out_prncp                                -0.0011   6.46e-05    -17.411      0.000      -0.001      -0.001
out_prncp_inv                             0.0012   6.46e-05     17.899      0.000       0.001       0.001
total_pymnt                               0.0002      0.000      0.679      0.497      -0.000       0.001
total_pymnt_inv                         8.94e-05   5.55e-06     16.100      0.000    7.85e-05       0.000
total_rec_prncp                          -0.0003      0.000     -1.103      0.270      -0.001       0.000
total_rec_int                            -0.0003      0.000     -1.115      0.265      -0.001       0.000
total_rec_late_fee                       -0.0006      0.000     -2.371      0.018      -0.001      -0.000
recoveries                               -0.0002      0.000     -0.655      0.513      -0.001       0.000
collection_recovery_fee                  -0.0008   2.32e-05    -33.422      0.000      -0.001      -0.001
last_pymnt_amnt                        1.373e-05   2.07e-07     66.282      0.000    1.33e-05    1.41e-05
last_fico_range_high                     -0.0001   2.16e-05     -6.094      0.000      -0.000   -8.93e-05
last_fico_range_low                     8.71e-05   1.27e-05      6.862      0.000    6.22e-05       0.000
collections_12_mths_ex_med               -0.0408      0.005     -8.222      0.000      -0.051      -0.031
mths_since_last_major_derog              -0.0003   8.95e-05     -3.414      0.001      -0.000      -0.000
policy_code                               2.9438      0.144     20.426      0.000       2.661       3.226
acc_now_delinq                           -0.1883      0.025     -7.663      0.000      -0.236      -0.140
tot_coll_amt                           2.519e-08   1.09e-07      0.230      0.818   -1.89e-07    2.39e-07
tot_cur_bal                            8.311e-07   3.17e-08     26.210      0.000    7.69e-07    8.93e-07
open_il_12m                               0.1498      0.002     86.554      0.000       0.146       0.153
open_il_24m                               0.0336      0.001     28.705      0.000       0.031       0.036
mths_since_rcnt_il                        0.0007   4.16e-05     16.898      0.000       0.001       0.001
total_bal_il                           4.237e-07   3.96e-08     10.704      0.000    3.46e-07    5.01e-07
il_util                                   0.0005   5.02e-05      9.388      0.000       0.000       0.001
open_rv_12m                               0.1055      0.001     73.930      0.000       0.103       0.108
open_rv_24m                               0.0298      0.001     35.467      0.000       0.028       0.031
max_bal_bc                            -6.762e-06   2.43e-07    -27.851      0.000   -7.24e-06   -6.29e-06
total_rev_hi_lim                      -3.805e-07   7.89e-08     -4.822      0.000   -5.35e-07   -2.26e-07
inq_fi                                    0.0269      0.001     38.102      0.000       0.025       0.028
total_cu_tl                               0.0057      0.000     15.179      0.000       0.005       0.006
acc_open_past_24mths                     -0.0279      0.001    -45.087      0.000      -0.029      -0.027
avg_cur_bal                           -6.161e-07   1.05e-07     -5.894      0.000   -8.21e-07   -4.11e-07
bc_open_to_buy                        -2.124e-06   1.57e-07    -13.527      0.000   -2.43e-06   -1.82e-06
bc_util                                   0.0015   7.01e-05     21.290      0.000       0.001       0.002
chargeoff_within_12_mths                 -0.0173      0.007     -2.361      0.018      -0.032      -0.003
delinq_amnt                           -1.158e-06   1.01e-06     -1.141      0.254   -3.15e-06    8.31e-07
mo_sin_old_il_acct                        0.0001   1.62e-05      6.237      0.000    6.94e-05       0.000
mo_sin_old_rev_tl_op                     -0.0001   9.44e-06    -13.357      0.000      -0.000      -0.000
mo_sin_rcnt_rev_tl_op                    -0.0002    6.6e-05     -2.637      0.008      -0.000   -4.47e-05
mo_sin_rcnt_tl                           -0.0005      0.000     -4.541      0.000      -0.001      -0.000
mort_acc                                  0.0051      0.001      7.773      0.000       0.004       0.006
mths_since_recent_bc                   9.982e-05   3.07e-05      3.247      0.001    3.96e-05       0.000
mths_since_recent_bc_dlq                 -0.0003      0.000     -3.240      0.001      -0.001      -0.000
mths_since_recent_inq                     0.0033      0.000     21.037      0.000       0.003       0.004
mths_since_recent_revol_delinq           -0.0004      0.000     -3.884      0.000      -0.001      -0.000
num_accts_ever_120_pd                    -0.0067      0.001     -8.918      0.000      -0.008      -0.005
num_actv_bc_tl                           -0.0016      0.001     -1.677      0.093      -0.004       0.000
num_actv_rev_tl                           0.0107      0.001      7.743      0.000       0.008       0.013
num_bc_sats                              -0.0157      0.001    -20.925      0.000      -0.017      -0.014
num_bc_tl                                 0.0235      0.000     49.887      0.000       0.023       0.024
num_il_tl                                -0.0009      0.000     -2.169      0.030      -0.002   -8.87e-05
num_op_rev_tl                             0.0117      0.001     18.579      0.000       0.011       0.013
num_rev_accts                            -0.0117      0.001    -23.400      0.000      -0.013      -0.011
num_rev_tl_bal_gt_0                      -0.0076      0.001     -5.224      0.000      -0.010      -0.005
num_sats                                 -0.0109      0.001     -9.758      0.000      -0.013      -0.009
num_tl_120dpd_2m                          0.0272      0.038      0.716      0.474      -0.047       0.102
num_tl_30dpd                             -0.0263      0.028     -0.934      0.350      -0.081       0.029
num_tl_90g_dpd_24m                        0.0224      0.002      9.282      0.000       0.018       0.027
num_tl_op_past_12m                       -0.0927      0.001    -89.670      0.000      -0.095      -0.091
pct_tl_nvr_dlq                           -0.0009      0.000     -7.386      0.000      -0.001      -0.001
percent_bc_gt_75                      -5.728e-05   3.97e-05     -1.442      0.149      -0.000    2.06e-05
pub_rec_bankruptcies                      0.0991      0.004     22.069      0.000       0.090       0.108
tax_liens                                 0.0786      0.005     17.412      0.000       0.070       0.087
tot_hi_cred_lim                        -5.05e-07   2.78e-08    -18.195      0.000   -5.59e-07   -4.51e-07
total_bal_ex_mort                     -5.768e-07    6.3e-08     -9.156      0.000      -7e-07   -4.53e-07
total_bc_limit                         2.643e-06   1.18e-07     22.358      0.000    2.41e-06    2.87e-06
total_il_high_credit_limit            -2.403e-07   6.09e-08     -3.943      0.000    -3.6e-07   -1.21e-07
==============================================================================
Omnibus:                   297272.970   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          8052727.176
Skew:                          -0.168   Prob(JB):                         0.00
Kurtosis:                      14.046   Cond. No.                     1.37e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.04e-15. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [116]:
# Add a constant to a_test
a_test_sm = sm.add_constant(a_test)
# Predict the b values corresponding to a_test_sm
b_pred = lr.predict(a_test_sm)

In [117]:
b_pred.head()

1517674     6.575027
400139     13.085357
417017      5.880109
531044      9.575433
1267530    20.813374
dtype: float64

In [118]:
#Imporitng libraries
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [119]:
#RMSE value
print("RMSE: ",np.sqrt( mean_squared_error( b_test, b_pred )))
#R-squared value
print("R-squared: ",r2_score( b_test, b_pred ))

RMSE:  0.9350109884636582
R-squared:  0.9625966035818829